:root {
  --bg-secondary: #372549;
  --color-secondary: #EACDC2;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  background: #EACDC2;
  color: #1a1423;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--bg-secondary);
  color: var(--color-secondary);
}

header ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  color: var(--color-secondary);
}

main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2, h3 {
  font-weight: 300;
  color: #372549;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: #774C60;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.airy {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.button-link {
  border: 2px solid;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.hero {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  padding: 5rem;
  box-sizing: border-box;
  flex-direction: column;
  background: #1a1423;
  color: #EACDC2;
}

.hero h1 {
  font-size: 4rem;
}

.hero h1, .hero h2 {
  margin: 0;
}

.hero h1 span {
  position: relative;
  z-index: 1;
}

.hero h1 span::before {
  content: ' ';
  display: block;
  position: absolute;
  height: 1rem;
  bottom: -0.25rem;
  background: #B75D69;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero h2 {
  color: #774C60;
  margin-top: 1rem;
}

.box {
  position: relative;
  width: 6rem;
  margin: auto;
  padding-top: 1rem;
}

.box::before {
  content: ' ';
  display: block;
  top: -1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #1a1423 50%, #EACDC2 50%);
}

footer {
  padding: 2rem;
  text-align: center;
  background: var(--bg-secondary);
  color: var(--color-secondary);
}